{% extends 'base.html' %} 
{% load static %} 
{% block title %} Cart {% endblock %}


{% block css %}

<style>
  table th {
      width: auto !important;
  }
  .changepointer{

    cursor: pointer;
  }
</style>

{% endblock %}

<body>
  

{% block body %}




<div class="container mt-5 " id="maincontainer">
    <h2 class="text-success">My cart</h2>


<div id="carttable" class="m-4">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="width: 5%;" scope="col">Item</th>
      <th style="width: 35%;" scope="col">Product Name</th>
      <th style="width: 15%;" scope="col">Quantity</th>
      <th style="width: 20%;" scope="col">Price(per piece)</th>
      <th style="width: 20%;" scope="col">Total Price</th>
      
      <th style="width: 5%;" scope="col">Remove</th>
    </tr>
  </thead>
  <tbody id = "carttablebody">
    
  </tbody>
</table>

<button class="btn btn-warning" onclick="clearCart()" style="margin-left:90%;margin-right:10px">Clear Cart</button>

</div>

<form id="form_place" method='post'>{% csrf_token %}
     <button class="btn btn-info" type="submit" name="submit" id="submit" style="margin-left:20px;">Place Order</button>
 </form>

<div  style="margin-top: 50px;margin-left: 20px;">
    <h4>Delivery Details </h4>

    {% ifequal defaultAdd 1 %}

    <strong>Deliver to {{ profile.first_name }} {{profile.last_name|truncatechars:10}}</strong><br> Contact: {{ profile.contact_no }}<br> <span id="no1">{{ profile.address1|truncatechars:70 }}</span><br> {{profile.city}}
    <br> {{ profile.state }}<br>
    <a href="{% url 'Account' %}" style="color: blue;text-decoration: underline;">Change delivery details</a><br><br>
    
    {% else %}
    
    <strong>Deliver to {{ profile.first_name2 }} {{profile.last_name2|truncatechars:10}}</strong><br> Contact: {{ profile.contact_no2 }}<br> <span id="no1">{{ profile.address2|truncatechars:70 }}</span><br> {{profile.city2}}
    <br> {{ profile.state2 }}<br>
    <a href="{% url 'Account' %}" style="color: blue;text-decoration: underline;">Change delivery details</a><br><br>
    

    {% endifequal %}

</div>






</div>
{% endblock %}
</body>

{% block js %}

<script>



//  get cart from localstorage
if(localStorage.getItem('cart')==null){
    var cart = {};
    console.log("cart is empty")

    // if cart is empty then replace body html with emptyhtml
    emptyHtml = `    <div class="container " style="margin-left: 40%; text-align: center; margin-top: 20%;">
                      <div class="card bg-light" style="max-width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Your Cart Is Empty!</h5>
                            <p class="card-text">To Add Items, Shop Now By Clicking Here</p>
                          </div>

                          
                      <a href="{% url 'shopHome' %}" class="btn btn-outline-info">Shop Now</a>
                        </div>
                      </div>`;

      // use jQuery replaceWith() function to replace html                
      $('#maincontainer').replaceWith(emptyHtml);
}
else{
 
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById("cart").innerHTML = Object.keys(cart).length;

}


// remove product from cart
function removeItemFromCart(id) {

  
  // delete item from cart
  delete cart[id];
  
  // flag is used to find whether cart is empty or not ?
  
  let flag=0;

  for(var i in cart){
      flag++;
  }
  // if flag is remain 0 then removeItem from localstorage bcz cart is empty
  if(flag<=0){ 
    localStorage.removeItem('cart');
    console.log("Cart removed")
  }else{

    
  localStorage.setItem('cart', JSON.stringify(cart));
  
  }

  
  console.log("Flag value : ",flag)
  window.location = "{% url 'Cart' %}"
}


// clear cart from localStorage
function clearCart() {

  localStorage.removeItem('cart');
  window.location = "{% url 'Cart' %}"
  
}


// changing product quantity
function resetQuantity(flag,id){

  // flag 0 mean decrement quantity 
  // flag 1 mean increment quantity 
  
  if(flag==0){
  let inText = parseInt($('#quantity'+id)[0].innerText);
      if(inText<=1){
        removeItemFromCart(id);

        
  $("#totalbillingamount")[0].innerText = parseInt($("#totalbillingamount")[0].innerText) - cart[id][2];



      }
      else{
        
      cart[id][0]--;
      $('#quantity'+id)[0].innerText = cart[id][0];
      $("#totalbillingamount")[0].innerText = parseInt($("#totalbillingamount")[0].innerText) - cart[id][2];


      }



  }else if(flag == 1){

    let inText = parseInt($('#quantity'+id)[0].innerText);
    cart[id][0]++;
    $('#quantity'+id)[0].innerText = cart[id][0];
    
    $("#totalbillingamount")[0].innerText = parseInt($("#totalbillingamount")[0].innerText) + cart[id][2];


  }


  $('#totalprice'+id)[0].innerText = cart[id][0] * cart[id][2];




  localStorage.setItem('cart', JSON.stringify(cart));
  

}








// get table body
let tbody = $('#carttablebody');

// counter used for number of unique products
let counter =1;
let total_bill = 0;
for(var x in cart){

    let quantity = cart[x][0];
    let name = cart[x][1];
    let price = cart[x][2];

  
    newrow = `<tr><th scope='row'>${counter}</th>
      <td>${name}</td>
      <td>
        <div class="row">
        <i class="badge badge-primary  changepointer" style="font-size:1rem;height:25px;width:25px;cursor: pointer;" onclick="resetQuantity(1,'${x}')">+</i>  
        
        
        <p class="mx-2" id="quantity${x}"> ${quantity}</p>
        
        <i class="badge badge-primary  changepointer" style="font-size:1rem;height:25px;width:25px;cursor: pointer;" onclick="resetQuantity(0,'${x}')">-</i>
      </div></td>
      <td>${price}</td>
      <td id="totalprice${x}">${price*quantity}</td>
      <td>
        <i class="badge badge-danger changepointer" style="font-size:1rem;cursor: pointer;height:25px;width:25px;" onclick="removeItemFromCart('${x}')">-</i></td>
    </tr>`;






    total_bill += quantity*price;
    $(newrow).appendTo(tbody);
    counter++;
}



// show total billing amount
billing_html = `<h3>Total Billing Amount : <b id="totalbillingamount" >${total_bill} </b></h3>`;
$(billing_html).appendTo($('#carttable'))

$("#form_place").on('submit', function(event) {
      event.preventDefault(); 
      let counter =1;
      let amount = 0;

      for(var x in cart){

        let quantity = cart[x][0];
        let name = cart[x][1];
        let price = cart[x][2];

        amount += quantity*price;
        counter++;
      }

      alert('your order is placed!');
       //var amount = '{{ amount }}';
       $.ajax({
           type: "POST",
           url: '/cart/',
           data:{
                 //formtype: "place",
                 amount:amount, 
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
           },
           datatype:'json',
           success: function(data) {
             if (data['success'])
                alert("successfully")
           }
       }); 
  });

</script>
{% endblock %}
