{% extends 'base.html' %} {% load static %} {% block title %} HomePage {% endblock %} {% block body %}
<div class="container">
    <!-- <h1 style="text-align:center; text-decoration:underline;">Welcome To Our Website</h1> -->
    <h2 style="text-align:center; font-weight:bold; color:green;" class="my-3 ml-3">Welcome to our website</h2>
</div>
{% for product,range,nslides in AllProds %}

<div class="container">
    <h2 class="mt-4">{{product.0.category}}</h2>
</div>
<div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators{{forloop.counter}}" data-slide-to="0" class="active"></li>
        {% for i in range %}
        <li data-target="#carouselExampleIndicators{{forloop.parentloop.counter}}" data-slide-to={{i}}></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container mt-4">
                <div class="row">

                    {%for p in product %}
                    <div class="col-md-4">
                        <div class="card justify-content-center mt-2 ml-5" style="width: 16rem;height:25rem;">
                            <img class="card-img" id="image" src={{p.img1.url}} height="175px">
                            <div class="card-body">
                                <h4 class="card-title cart" id="pname{{p.product_id}}">{{p.product_name|truncatechars:15}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{p.brand}}</h6>
                                <p class="card-text">
                                    {{p.description|truncatechars:25}} </p>

                                <div class="price text-success">
                                    <h5 class="mt-1" id="pprice{{p.product_id}}">₹ {{p.price}}</h5>
                                </div>
                                <button id="{{p.product_id}}" class="btn btn-warning btn-sm mt-2 cart"
                                    onclick="window.location.reload();">Add to Cart</button>
                                <a href="/productDetail/{{p.product_id}}" class="btn btn-info btn-sm mt-2 ml-3">View
                                    Product</a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}

                </div>

            </div>

        </div>
        <div class="carousel-item">
            <div class="container mt-4">
                <div class="row">
                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators{{forloop.counter}}" role="button"
        data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators{{forloop.counter}}" role="button"
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

{% endfor %} {% endblock %}

{% block js %}

{% if user.is_authenticated %}

<script>

    if ((localStorage.getItem('cart')==null)||(localStorage.getItem('cart')=="{}")){
        var cart = JSON.parse({{mycart|safe}});
    }else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    
    
    localStorage.setItem('cart', JSON.stringify(cart));
    
    document.getElementById("cart").innerHTML = Object.keys(cart).length;
     
    $('.cart').click(function () {

        var idstr = this.id.toString();


        if (cart[idstr] != undefined) {
            cart[idstr][0] = cart[idstr][0] + 1;
            //console.log("This product is already present in your cart!");
        }
        else {
            // fetch other details of product
            let pname = document.getElementById('pname'+idstr).innerText;
            
            let pprice = document.getElementById('pprice'+idstr).innerText;
            let price = parseFloat(pprice.slice(1,pprice.length))
            console.log(pprice , price)

            cart[idstr] = [1,pname,price,idstr];
            // cart = [quantity , product name , price]

        }
        //var x=document.getElementById("name").innerHTML;
        //localStorage.setItem("name",x);

        console.log(cart);
        //console.log(localStorage.getItem("name"));
        //cart[productName] = x;
        //console.log(cart[productName]);

        localStorage.setItem('cart', JSON.stringify(cart));

        addToCart('/');
        alert("Product added to cart successfully")
    });
    </script>

{% else %}




<script>

$('.cart').click(function () {

    window.location = "{% url 'LoginUSER' %}"

});



</script>

{% endif %}

{% endblock %}