{% extends 'base.html' %} {% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block head %}

    <link rel="stylesheet" href="{% static 'css/productPreview.css' %}">
    <title> {% block title %} Product Preview {% endblock %}</title> {% endblock %}

</head>
{% block body %}

<div class="container-fluid m-5">

    <h1 class="text-secondary">Product Preview</h1>
    <br>
    <div class="row">

        <div class="col-md-5">
            <div class="w3-container">
                <div class="w3-content w3-display-container">
                    <img class="mySlides" src="{{products.img1.url}}" style="width:60%">
                    <!-- <img class="mySlides" src="{% static 'images/2.jpeg' %}" style="width:60%">
                    <img class="mySlides" src="{% static 'images/3.jpeg' %}" style="width:60%"> -->

                    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
                        style="width:80%"></div>
                    <div class="row">
                        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                    </div>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                </div>
            </div>
            <!--<img class="productimage" src="./girls_pink_shoes.jpeg">-->
            <button id="wishbtn" onclick="addtowishlist()"><i class='fas fa-heart' id="wishlist"
                    style='font-size:24px;display: inline;'></i></button>

            <!--Buy Now & Add to Cart Button-->
            <button class="btn btn-warning btn-lg mt-5" onclick="deliveryDetails()" style="color: 'white'">
                <i class="fa fa-shopping-basket"></i><span><a href="#" id="button" style="color: black;">Buy Now</a></span></button>
            <button id="{{products.product_id}}" class="btn btn-info btn-lg mt-5 cart">
                <i class="fa fa-shopping-cart"></i><span>Add
                    To Cart </span></button>



            <div class="card p-3 mt-5 mr-5 userrating" style="border-color: orange;border-width: 0.2rem;">
                <b>How much you like our product:</b>

                <!--<p class="rating">
                <span id='star1' class="fa fa-star"></span>
                <span id='star2' class="fa fa-star"></span>
                <span id='star3' class="fa fa-star"></span>
                <span id='star4' class="fa fa-star"></span>
                <span id='star5' class="fa fa-star"></span>
            </p>-->

                <!-- Star rating using font awesome -->


                <!-- <fieldset class="rating">

                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                            title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                            for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                            title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                            for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                            title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                            for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                            title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                            for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                            title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half"
                            for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                    <p> or </p> -->
                <span>
                    <!-- <span id='emoji1' class="emojis">😔</span>
                <span id='emoji2' class="emojis">😟</span>
                <span id='emoji3' class="emojis">😐</span>
                <span id='emoji4' class="emojis">😃</span>
                <span id='emoji5' class="emojis">😍</span>
                </span>



                -->

                    <form id="rating_form" method="POST">
                        {% csrf_token %}
                        <p>
                            <span id='star1' class="fa fa-star"></span>
                            <span id='star2' class="fa fa-star"></span>
                            <span id='star3' class="fa fa-star"></span>
                            <span id='star4' class="fa fa-star"></span>
                            <span id='star5' class="fa fa-star"></span>
                        </p>
                        <input value="1" hidden='true' name='rating'>
                        <input id="submit" type="submit" class="btn btn-primary small btn-sm" ,style="display: none;">
                        <!--<button onclick="document.getElementById('prod').value">Submit</button>-->

                        <!--<a class="button" href="productPreview.js"> Submit</a>
                        value={{p.product_id}}-->

                    </form>





            </div>



        </div>

        <div class="col-md-6" style="font-size: 1.1rem">


            <table>
                <tbody>
                    <tr>
                        <th>
                            <h4>{{products.product_name}}</h4>
                        </th>

                    </tr>
                    <tr>
                        <td>Price : ₹ {{products.price}}</td>
                    </tr>
                    <!-- <font size="4"> -->
                    <tr>
                        <td>
                            <p>Rating
                                {% with ''|center:products.productrating as range %}
                                {% for i in range %}
                                <span class="fa fa-star checked"></span>
                                {% endfor %}
                                {% endwith %}
                                <b>{{products.productrating}}</b>

                            </p>

                        </td>
                    </tr>
                </tbody>
            </table>



            <!-- Select quantity of product -->

            <label for="quan">Quantity:</label>


            <button class="btn-sm" id='decrement' style='width: 30px;'><b>-</b></button>
            <span>
                <p id="quantity" class="badge badge-primary">1</p>
            </span>
            <button class="btn-sm" id="increment" style='width: 30px;'><b>+</b> </button>



            <!-- select size of product -->

            <p></p>
            <label for="selsize">Select Size:</label>
            <input type="radio" id="small" name="selsize" value="small">
            <label for="small">Small</label>
            <input type="radio" id="medium" name="selsize" value="medium">
            <label for="medium">Medium</label>
            <input type="radio" id="large" name="selsize" value="large">
            <label for="large">Large</label><br><br>

            <!-- Enter pincode here -->
            <label for="pin">Enter Pincode:</label>
            <input type="text" id="pin" name="pin"><br>


            <div class="card mt-4" style="width:40rem;font-size: 1rem;">
                <div class="card-header">
                    <h4 class="accordion-heading">
                        Product Details
                    </h4>
                </div>
                <div class="card-body">
                    <h6 class="font-size-sm mb-2">Product Information</h6>
                    <table class="card-table table">

                        <tbody>
                            {% for key, value in products.product_specification.items %}
                            <tr>
                                <th>{{key}}</th>
                                <td>{{value}}</td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <th>Product Description</th>
                                <td>{{products.description}}</td>
                            </tr>

                        </tbody>
                    </table>


                    <!--<h6 class="font-size-sm mb-2">Product Description</h6>
                    <ul class="font-size-sm pl-4 mb-0">
                        <p>{{products.description}}
                        </p>-->
                    </ul>
                </div>

            </div>



        </div>

        <!-- <div class="col-md-2">

            </div> -->
    </div>




    <!-- Product name brand and rating -->

    <!-- Product details in form of table -->
    <br><br>


    <br>
    <hr>


    <h2>Have a question?</h2>
    <p>Post your question below:</p>

    <input placeholder="Post your question here" name="postquestion" style="width: 300px;">
    <a class="button" href="#popup1">
        Submit
    </a>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Thank You!</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                We Will Be Pleased To Help You. Your Question Will Be Answered Soon...
            </div>
        </div>
    </div>
    <br>
    <!--<a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    View FAQ here
    </a>-->

    <div>
        <h2>FAQs:</h2>
        <!--<p>Click on the button to toggle between showing and hiding content.</p>-->
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
            How much amount of monthly EMI for this mobile?
        </button>
        <div id="demo" class="collapse">
            <a
                href="https://economictimes.indiatimes.com/analysis/what-is-emi-and-how-is-it-calculated/articleshow/39880530.cms">
                Monthly EMI for this product is Rs. 7500/-
            </a>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">
            How to login with google?
        </button>
        <div id="demo1" class="collapse">
            <a href="https://support.google.com/accounts/answer/76194?hl=en">
                It's simple! Just enter your emailid and the password associated with it to successfully login to
                Google...
            </a>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">
            How to buy prime membership?
        </button>
        <div id="demo2" class="collapse">
            <a href="https://www.primevideo.com/?ref_=dvm_pds_amz_in_as_s_g_51|m_YNcN9OVnc_c394383628230">
                Just go to Amazon and from the drawer, click on Go Prime!
            </a>
        </div>
    </div>

    <!-- <div id="collapseExample" class="collapse">
        <div id="questions" class="questionlist">
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                How much amount of monthly EMI for this mobile?
            </a>
            <div id="collapseExample" class="collapse"></div>
                <div id="answers">
                    <a href="https://economictimes.indiatimes.com/analysis/what-is-emi-and-how-is-it-calculated/articleshow/39880530.cms" class="answerlist1">
                        Monthly EMI for this product is Rs. 7500/-
                    </a>
                    <div id="collapseExample" class="collapse"></div>
                </div>
            <br>
            <a class="questionlist">How to login with google?</a>
            <div id="collapseExample" class="collapse"></div>
             <div id="answers">
                    <a href="https://support.google.com/accounts/answer/76194?hl=en" class="answerlist2">
                        Monthly EMI for this product is Rs. 7500/-
                    </a>
                    <div id="collapseExample" class="collapse"></div>
            </div>
            <br>
            <a class="questionlist">How to buy prime membership?</a>
            <div id="collapseExample" class="collapse"></div>
             <div id="answers">
                    <a href="https://www.primevideo.com/?ref_=dvm_pds_amz_in_as_s_g_51|m_YNcN9OVnc_c394383628230" class="answerlist3">
                        Monthly EMI for this product is Rs. 7500/-
                    </a>
                    <div id="collapseExample" class="collapse"></div>
            </div>
        </div>
    </div> -->


    <hr>







    <!-- Review on product -->
    <br>
    <h2>Reviews</h2>
    <div>
        <form id="reviews_form" method="POST">
            {% csrf_token %}
            <!--CSRF : Cross Site Request Forgery-->

            <input class="addreview" id="review" type="text" name="review" style="width: 300px"
                placeholder="Add your reviews    ">
            <!-- <input id="submit" type="submit" class="btn btn-primary small btn-sm" style="display: block;"> -->

            <!--<button type="submit" class="button"><span>Submit</span></button>-->
            <button class="btn btn-primary">Submit</button>

        </form>
    </div>

    <br>
    <div class="reviewbox">

        {% load static %}
        {% load humanize %}

        {% for i in review reversed %}




        <div class="row">


            <!-- image of user -->
            <div>
                <p>
                    <img class="userimg" src="{% static 'images/myuser.png' %}" style="height: 50px;"></p>
            </div>

            <!-- Content into review box -->
            <div class="reviewboxcontent col-md-3">
                <div>
                    <p class="badge badge-secondary" style="display: inline;">{{i.review_user_id}}</p>

                </div>

                <p>{{i.message}}</p>
                <p style="font-size: 13px; color:'grey'">Reviewed : {{i.reviewTime|naturaltime}}</h6>

            </div>

        </div>

        {% endfor %}

    </div>



    <!-- other products slider -->



    <h2>Other related products</h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <!-- <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol> -->
        <div class="carousel-inner" style="margin-left: 7px;">


            <div class="carousel-item active">

                <div class="row">



                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">1)Spike Shoes</h5>
                            <p class="card-text">Price : $8999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">2)Spike Shoes</h5>
                            <p class="card-text">Price : $9999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>

                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">3)Spike Shoes</h5>
                            <p class="card-text">Price : $1999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">4)Spike Shoes</h5>
                            <p class="card-text">Price : $1999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">5)Spike Shoes</h5>
                            <p class="card-text">Price : $1999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="carousel-item">
                <div class="row">


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">6)Spike Shoes</h5>
                            <p class="card-text">Price : $8999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">7)Spike Shoes</h5>
                            <p class="card-text">Price : $7000</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>

                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">8)Spike Shoes</h5>
                            <p class="card-text">Price : $7000</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>

                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">9)Spike Shoes</h5>
                            <p class="card-text">Price : $1999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">10)Spike Shoes</h5>
                            <p class="card-text">Price : $5999</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>
                </div>


            </div>


            <div class="carousel-item">
                <div class="row">
                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images./girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">11)Spike Shoes</h5>
                            <p class="card-text">Price : $1</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">12)Spike Shoes</h5>
                            <p class="card-text">Price : $809</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>


                    <div class="card mr-2" style="width: 13rem;">
                        <img src="{% static 'images/girls_pink_shoes.jpeg' %}" class="card-img-center ml-4 productimg">
                        <div class="card-body pt-0">
                            <h5 class="card-title">13)Spike Shoes</h5>
                            <p class="card-text">Price : $8099</p>
                            <a href="#" class="btn btn-outline-secondary">Preview</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="fas fa-chevron-circle-left" aria-hidden="true" style="font-size: 28px;color:black"></span>

            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="fas fa-chevron-circle-right" aria-hidden="true" style="font-size: 28px;color:black"></span>

            <span class="sr-only">Next</span>
        </a>


    </div>




</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script> -->


<!-- JS to handle operations -->
<!--<script src="https://code.jquery.com/jquery-3.5.0.min.js"  
integrity="sha256-xNzNa4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>-->

<script src="{% static 'js/productPreview.js' %}">
</script>

<script>
    $(document).on('submit', '#rating_form', function (event) {

        event.preventDefault();
        //x={{current_product_id}};

        $.ajax({
            type: 'POST',
            url: '/productDetail/{{current_product_id}}',
            data: {

                formtype: "rating",
                rating: star_status,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },

            success: function (response) {

                alert("Rating submitted successfully")
            }
        });
    })
</script>

<script>
    $(document).on('submit', '#reviews_form', function (event) {

        event.preventDefault();

        console.log("Form submitted!")
        $.ajax({
            type: 'POST',
            url: '/productDetail/{{current_product_id}}',
            data: {
                formtype: "review",
                review: $('#review').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },

            success: function (response) {

                alert("Review submitted successfully");
                $('#review').val('');
            }
        });
    })
</script>


<script>
    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById("cart").innerHTML = Object.keys(cart).length;
    
    }
    
    $('.cart').click(function(){
    
    var idstr = this.id.toString();
    
    if(cart[idstr] != undefined){
        cart[idstr] = cart[idstr] + 1;
        //console.log("This product is already present in your cart!");
    }
    else{
        cart[idstr]=1;  
    }
    //var x=document.getElementById("name").innerHTML;
    //localStorage.setItem("name",x);
    
    console.log(cart);
    //console.log(localStorage.getItem("name"));
    //cart[productName] = x;
    //console.log(cart[productName]);
    
    localStorage.setItem('cart', JSON.stringify(cart));
    
        alert("Product added to cart successfully")
    
    });
    
    </script>

<div class="bg-modal" id="myform">
    <div class="modal-content">

        <form>
            <div class="row">
                <h3 style="text-align: left; margin-left: 5px;">Add Address</h3>
                <i class="far fa-window-close" style="margin-left: auto;margin-right: 15px;font-size: 25px;"
                    id="closeIcon" onclick="closeAddressForm()"></i>
                <!-- <h2 id="closetext" style="rotate: 45deg;">+</h2> -->
            </div>
            <br>

            <input type="text" id="fname" placeholder="Full Name" name="fname" style="width: 300px"><br><br>

            <input type="text" id="mnum" placeholder="Mobile Number" name="fname" style="width: 300px"><br><br>

            <input type="text" id="pincode" placeholder="PIN Code" name="fname" style="width: 300px"><br><br>

            <input type="text" id="flatno" placeholder="Flat/House No., Apartment" name="fname"
                style="width: 300px"><br><br>

            <input type="text" id="area" placeholder="Area/Colony, Village" name="fname" style="width: 300px"><br><br>

            <input type="text" id="landmark" placeholder="Landmark e.g. Near Reliance" name="fname"
                style="width: 300px"><br><br>

            <input type="text" id="city" placeholder="Town/City" name="fname" style="width: 300px"><br><br>

            <select name="state" id="state" style="width: 208px">
                <option value="select">Select State</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Delhi">Delhi</option>
                <option value="Kerala">Kerala</option>
                <option value="Himachal">Himachal Pradesh</option>
            </select><br><br>

            <h4 style="text-align: left;"> Add Delivery Instructions </h4>
            <p style="text-align: left;">Preferences are used to plan your delivery. However, shipments can sometimes
                arrive early or later than planned.</p><br>

            <select name="type" id="type" style="width: 208px">
                <option value="selecttype">Select Address Type</option>
                <option value="Home">Home</option>
                <option value="Work">Work</option>
            </select><br>

            <input type="checkbox" id="default" name="default" value="default">
            <label for="default">Use as my default address</label><br><br>

            <button type="submit" value="addAddress">Add Address</button>

        </form>
    </div>
</div>


{% endblock %}
</body>

</html>