{% extends 'base.html' %}

{% block title %}
    Search
{% endblock title %}

{% block head %}

{% endblock head %}

{% block body %}
<div class="container mt-4">
                <div class="row">

                    {%for p in product %}
                    <div class="col-md-4">
                        <div class="card justify-content-center mt-2 ml-5" style="width: 16rem;height:25rem;">
                            <img class="card-img" id="image" src={{p.img1.url}} height="175px">
                            <div class="card-body">
                                <h4 class="card-title cart" id="name">{{p.product_name}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{p.brand}}</h6>
                                <p class="card-text">
                                    {{p.description|truncatechars:25}} </p>

                                <div class="price text-success">
                                    <h5 class="mt-1">₹ {{p.price}}</h5>
                                </div>
                                <button id="{{p.product_id}}" class="btn btn-warning btn-sm mt-2 cart"
                                    onclick="window.location.reload();">Add to Cart</button>
                                <a href="/productDetail/{{p.product_id}}" class="btn btn-info btn-sm mt-2 ml-3">View
                                    Product</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>

            </div>




{% endblock %}

{% block js %}
<script>
    {% if product|length < 1 %}
    alert('please make sure to enter relavent search')
    window.location.href = "/";
    {% endif %}
    {% if search|length < 1 %}
    alert('please enter search value')
    window.location.href = "/";
    {% endif %}
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById("cart").innerHTML = Object.keys(cart).length;

    }

    $('.cart').click(function () {

        var idstr = this.id.toString();


        if (cart[idstr] != undefined) {
            cart[idstr][0] = cart[idstr][0] + 1;
            //console.log("This product is already present in your cart!");
        }
        else {
            // fetch other details of product
            let pname = document.getElementById('pname'+idstr).innerText;
            let pprice = document.getElementById('pprice'+idstr).innerText;
            let price = parseFloat(pprice.slice(1,pprice.length))

            cart[idstr] = [1,pname,price];
            // cart = [quantity , product name , price]

        }
        //var x=document.getElementById("name").innerHTML;
        //localStorage.setItem("name",x);

        console.log(cart);
        //console.log(localStorage.getItem("name"));
        //cart[productName] = x;
        //console.log(cart[productName]);

        localStorage.setItem('cart', JSON.stringify(cart));

        alert("Product added to cart successfully")

    });

</script>
{% endblock %}