<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    

    <title>
        Verify OTP
    </title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="container " style="margin-left: 35%; text-align: center; margin-top: 15%;">
            <div class="card bg-light" style="max-width: 30rem;">
                <div class="card-body">
                <h4 style="color:red;">{{error}}</h4>
                    <h1 class="card-title">Enter OTP for Registeration</h1>
                    <div>
                        <strong>OTP : </strong>
                        <input id="otp" name="otp" style="text-align: left;" 
                            placeholder="Enter otp" required>

                    </div>
                </div>
                <div class="row ml-4">
                    <button class="btn btn-primary btn-sm" style="margin-top: 10px;height: 30px; text-align: center;" onclick="window.history.go(-1); return false;">Back</button>
                    <button class="btn btn-success mb-2" style="margin-top: 10px;margin-left: auto;margin-right: 45%;" type="submit">Submit</button>
                
                </div>
            </div>
        </div>
    </form>
</body>
</html>