.navbar-nav .nav-item:hover .nav-link:hover {
    color: pink;
    background-color: gray;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

input[type="search"] {
    padding-left: 115px;
    padding-right: 27px;
}

.btn-group {
    margin-right: -100px;
}

.selection {
    margin-right: 22px;
}

.abc a:hover{
    background-color:aqua;
    color:white;
}
